.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding-bottom: 30px;
    width: 600px;
    height: 690px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgb(81, 12, 155);
    font-size: 30px;
    font-weight: bold;
}
.underline{
    width: 9%;
    height: 7px;
    background: rgb(5, 73, 163);
    border-radius: 6px;
}
.inputs{
    margin: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgb(226, 227, 227);
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border-radius: 8px;
    border: 5%;
    border: none;
    font-size: 1.2rem;
}
.forgot-password{
    padding-left: 50px;
    margin-top: 50px;
    color: rgb(124, 120, 120);
    font-size: 1.15rem;
}
.forgot-password span{
    color: rgb(0, 98, 255);
    font-size: 1.13rem;
    font-weight: bold;
}
.forgot-password span:hover{
    cursor: pointer;
    font-size: 1.1rem;
}
.submit-container{
    display: flex;
    gap: 50px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 59px;
    color: white;
    background-color: rgb(70, 140, 215);
    font-weight: bold;
    border-radius: 45px;
}
.submit:hover{
    cursor: pointer;
}
.gray{
    background-color: rgb(226, 227, 227);
    color: gray;
}

